<!DOCTYPE html>
<html>

<!-- The inspiration for this project came from https://codepen.io/adamtowle/pen/BoZjyZ -->

<head>
    <!-- viewport for better mobile viewing -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Creative #4</title>

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Bootsrap required jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Boostrap latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- icons used for player -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- our css file -->
    <link rel="stylesheet" href="c4style.css">
</head>

<!-- playlistApp Angular Call -->

<body ng-app="playlistApp" style="cursor: url(diamondsword.cur),url(Skeletor-Pixel2.png),auto">
    <!-- playlistApp Controller call & change background -->
    <div class="base-outlet" ng-controller="playlistController" style="background: {{radio.background}}">
        <!--iframe for youtube video (this plays the song). Then gets hidden with css -->
        <div id="player" class=""></div>

        <!-- THE PLAYER CLASS -->
        <div class="player">
            <div class="player-controls">
                <span ng-if="radio.playing === false">
                    <button ng-click="playVideo()"><span class="fa fa-play"></span></button>
                </span>
                <span ng-if="radio.playing === true">
                    <button ng-click="pauseVideo()"><span class="fa fa-pause"></span></button>
                </span>
            </div>
            <div class="player-info">
                <!-- Override cursor type & bootstrap modal call -->
                <a style="cursor:pointer" data-toggle="modal" data-target="#changeVideoID"><span>{{track.title}}</span></a>
            </div>
        </div>

        <!--Places image on record player... '?' acts as a boolean -->
        <a style="cursor:pointer" data-toggle="modal" data-target="#changeVideoID">
            <div class="player-label {{radio.playing ? 'spin' : ''}}" style="{{track ? 'background-image: url(https://img.youtube.com/vi/'+track.video_id+'/hqdefault.jpg)' : 'background-color:'+'rgba(7, 7, 7, 0.40)'}}"></div>
        </a>

        <div class="player-circle"></div>
        <div id="changeVideoID" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <!-- Modal header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose a Record</h4>
                        <p><br><strong>Just as a quick note, VEVO and other YouTube music services block their videos from playing in our record player :(</strong></p>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <img src="http://cdn2.wpbeginner.com/wp-content/uploads/2014/01/youtubevideoid.jpg" alt="Smiley face" height="100%" width="100%">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputEmail3">Video ID</label>
                                <div class="col-sm-10">
                                    <input ng-model="selectedId" class="form-control" id="video-id" placeholder="Paste here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button ng-click="playVideoById(selectedId)" id="submit-button" type="submit" class="btn btn-default" data-dismiss="modal">Submit Video</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>


<!--required javascript files -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script src='https://apis.google.com/js/client.js?onload=googleApiClientReady'></script>
<script src="c4index.js"></script>

</html>


<!-- changeVideoID Bootstrap Modal.  -->
